@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

@section BreadCrumb {
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        @*<li class="breadcrumb-item">
                <a href="#">Admin</a>*@
            </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>

        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="#">
                    <i class="icon-speech"></i>
                </a>
                <a class="btn" href="./">
                    <i class="icon-graph"></i>  Dashboard
                </a>
                <a class="btn" href="#">
                    <i class="icon-settings"></i>  Settings
                </a>
            </div>
        </li>
    </ol>
}

    <div class="card">
        <div class="card-header">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="card-body">
            <h3>@Model.Message</h3>

            <p>Use this area to provide additional information.</p>
        </div>
    </div>
